# Deck

> Deck is a CLI for interacting with an Elgato StreamDeck

Please report any bugs you find [through GitHub issues](https://github.com/stilvoid/deck/issues).

You can read the full documentation at <https://stilvoid.github.io/deck/>.

## Installing

With [Go](https://golang.org) (v1.12 or higher) installed:

`GO111MODULE=on go get github.com/stilvoid/deck`

You can find shell completion scripts in [docs/bash_completion.sh](./docs/bash_completion.sh) and [docs/zsh_completion.sh](./docs/zsh_completion.sh).

## License

Deck is licensed under the MIT License. 

## Usage

```
{{.Usage}}```

